.channel-outer-div {
 display: flex;
}

.channel-and-search-left-container {
    width: 20rem;
    background-color: blue;
    margin-left: 10rem;
    height: 30rem;
}

.channel-in-channel-container{
    display: flex;
}

.avatar-div-channel-container {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding-right: 1rem;
}
