.post-outer-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(77, 77, 77);
    height: 800px;
    width: 100%;
}

.exit-post-icon {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

.post-modal-container {
    position: absolute;
    margin-left: 13%;
    display: flex;
    background-color: white;
    width: 65.6rem;
    height: 40rem;
    margin-top: 3rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /* padding-left: 20%; */
}

.image-modal {
    width: 34.5rem;
    height: 100%;
    /* margin-left: 20%; */
}

.post-modal-right {
    width: 100%;
    /* background-color: khaki; */
    /* padding-left: 1rem; */
}

.upper-right-modal {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 0.2px solid rgb(219, 219, 219);
    padding-top: 0.6rem;
}

.middle-right-modal {
    display: flex;
    /* padding-bottom: 1rem; */
    padding-top: 1rem;
}

.edit-my-post-dropdown {
    /* z-index: 10; */
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* right: 5%;
    top: 5%; */
    width: 15rem;
    align-items: center;
    /* padding: 0.1rem; */
}
.edit-post-button {
    border-radius: 1px;
    width: 18rem;
    height: 2.2rem;
    color: rgb(41, 41, 41);
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    /* border-radius: 0.8rem; */
    border: 0.1px solid rgba(0, 0, 0, 0.342);
}

.hashtags-in-my-post {
    padding-top: 0.3rem;
}

.edit-post-button:hover {
    background-color: rgb(202, 202, 202);

}

.likes-right-div {
    /* padding-top: 2rem; */
    border-top: 0.2px solid rgb(219, 219, 219);
    padding-bottom: 2rem;
}

.comment-edit-mypost-div {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.username-avatar-div{
    display: flex;
    /* background-color: red; */
}

.user-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: 0.5rem;

}

.edit-delete-post {
    display: flex;
}

.edit-post-icon {

}

.my-post-input-comment-main {
    border-top: 0.2px solid rgb(219, 219, 219);
    border-right: none;
    border-bottom: none;
    border-left: none;
    /* border-radius: 30px; */
    height: 3rem;
    width: 29rem;
    padding-left: 3%;
    /* margin-left: 8%; */
}

.bottom-right-comments {
    /* background-color: red; */
    height: 27rem;
    border-bottom: 0.2px solid rgb(219, 219, 219);
    overflow-y: scroll;
}

.left-side-comment {
    display: flex;
}


.comment-content-post {
    font-size: 14px;
    color: rgb(36, 36, 36);
    padding-top: 0.4rem;
}

.comment-likes-div {
    padding-left: 4rem;
    font-size: 12px;
    color: rgb(134, 134, 134);
    display: flex;
}

.count-comment-likes {
    padding-left: 1rem;
    font-weight: 500;
}

.username-bold {
    font-weight: 550;
    padding-left: 1.5rem;
    padding-right: 0.3rem;
    color: rgb(36, 36, 36);
    font-size: 14.7px;
    padding-top: 0.4rem;
}
.username-top-bold {
    font-weight: 550;
    padding-left: 1.5rem;
    padding-right: 0.3rem;
    color: rgb(46, 46, 46);
    font-size: 14.7px;
    padding-top: 0.7rem;
    text-decoration: none;
}


.post-content-and-username {
    display: flex;
}


.time-post-div {
    padding-left: 0.5rem;
    padding-top: 3%;
    padding-bottom: 3%;
    color: rgb(139, 139, 139);
    font-size: 13.7px;
    font-weight: 400;
}
.time-stamp-post-div {
    /* margin-left: 39%; */
    padding-left: 1rem;

    padding-top: 4%;
    padding-bottom: 3%;
    color: rgb(139, 139, 139);
    font-size: 11px;
    font-weight: 400;
}


.prev-div {
    font-size: 20px;
    background-color: white;
    z-index: 100;
    position: absolute;
    top: 40%;
    left: 2rem;
    color: black;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;


}
.next-div {
    font-size: 20px;
    background-color: white;
    z-index: 100;
    position: absolute;
    top: 40%;
    right: 2rem;
    color: black;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;


}

.prev-link {
    /* left: 2rem; */
    color: black;
    padding-left: 0.6rem;
    /* padding-top: 1rem; */
    font-size: 20px;
}
.next-link {
    /* left: 2rem; */
    color: black;
    padding-right: 0.2rem;
    /* padding-top: 1rem; */
    font-size: 20px;
}

.arrow {
    padding-top: 0.4rem;
}
.arrow-right {
    padding-top: 0.4rem;
    padding-left: 0.7rem;
}




.next-post-icon {
    position: absolute;
    top: 50%;
    right: 2rem;
    background-color: hotpink;

}



/* .bottom-right-comments:hover + .three-dot-close, .three-dot-close:hover {
    display: inline-block;
} */

.edit-my-comment-dropdown {
    z-index: 1000;
    right: 4rem;
    position: absolute;
    background-color: rgba(212, 212, 212, 0.342);
    width: 5rem;
    height: 5rem;
}

.edit-comment-buttons {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.edit-comment-buttons:hover {
    background-color: grey;
}

.three-dot-close {
    /* display: none; */
    font-size: 20px;
    color: rgb(153, 153, 153);
    padding-right: 1rem;
    /* padding-top: 0.5rem; */
}

.three-dot-open {
    font-size: 20px;
    color: rgb(33, 0, 95);
    padding-right: 1rem;
    padding-top: 0.5rem;
}



.three-dot-close-edit-post {
    /* display: none; */
    font-size: 15px;
    color: rgb(99, 99, 99);
    padding-right: 1.3rem;
    padding-top: 0.7rem;
    /* padding-top: 0.5rem; */
}

.three-dot-open-edit-post {
    font-size: 15px;
    color: rgb(33, 0, 95);
    padding-right: 1.3rem;
    padding-top: 0.7rem;
}


.count-likes-mypost {
    padding-left: 1rem;
    padding-top: 0.2rem;
    font-weight: 500;
    font-size: 16px;
    color: rgb(36, 36, 36);
}

.my-red-heart {
    font-size: 1.6rem;
    color:rgb(172, 46, 46);
    padding-left: 1rem;
    padding-top: 0.5rem;

}

.my-heart {
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    color: rgb(36, 36, 36);
}

.red-comment-heart {
    color:rgb(172, 46, 46);
    padding-right: 0.5rem;
    font-size: 0.8rem;
    padding-top: 0.3rem;
}

.comment-heart {
    padding-right: 0.5rem;
    color: rgb(63, 63, 63);
    font-size: 0.8rem;
    padding-top: 0.3rem;

}
