.post-outer-container {
    background-color: rgb(77, 77, 77);
    height: 800px;
    width: 100%;
}

.exit-post-icon {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

.post-modal-container {
    position: absolute;
    margin-left: 13%;
    display: flex;
    background-color: white;
    width: 65.6rem;
    height: 40rem;
    margin-top: 3rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /* padding-left: 20%; */
}

.image-modal {
    width: 34.5rem;
    height: 100%;
    /* margin-left: 20%; */
}

.post-modal-right {
    width: 100%;
    /* background-color: khaki; */
    /* padding-left: 1rem; */
}

.upper-right-modal {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 0.2px solid rgb(219, 219, 219);
    padding-top: 0.6rem;
}

.middle-right-modal {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.edit-my-post-dropdown {
    /* z-index: 10; */
    position: absolute;
    right: 0;
}

.likes-right-div {
    /* padding-top: 2rem; */
    border-top: 0.2px solid rgb(219, 219, 219);
    padding-bottom: 2rem;
}

.comment-edit-mypost-div {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.username-avatar-div{
    display: flex;
    /* background-color: red; */
}

.user-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: 0.5rem;

}

.edit-delete-post {
    display: flex;
}

.edit-post-icon {

}

.my-post-input-comment-main {
    border-top: 0.2px solid rgb(219, 219, 219);
    border-right: none;
    border-bottom: none;
    border-left: none;
    /* border-radius: 30px; */
    height: 3rem;
    width: 29rem;
    padding-left: 3%;
    /* margin-left: 8%; */
}

.bottom-right-comments {
    /* background-color: red; */
    height: 27rem;
    border-bottom: 0.2px solid rgb(219, 219, 219);
    overflow-y: scroll;
}

.left-side-comment {
    display: flex;
}


.comment-content-post {
    font-size: 14px;
    color: rgb(36, 36, 36);
}

.username-bold {
    font-weight: 550;
    padding-left: 1.5rem;
    padding-right: 0.3rem;
    color: rgb(36, 36, 36);
    font-size: 14.7px;
}
.username-top-bold {
    font-weight: 550;
    padding-left: 1.5rem;
    padding-right: 0.3rem;
    color: rgb(36, 36, 36);
    font-size: 14.7px;
    padding-top: 0.7rem;
}


.post-content-and-username {
    display: flex;
}


.time-post-div {
    padding-left: 0.5rem;
    padding-top: 3%;
    padding-bottom: 3%;
    color: rgb(139, 139, 139);
    font-size: 13.7px;
    font-weight: 400;
}
.time-stamp-post-div {
    /* margin-left: 39%; */
    padding-left: 1rem;

    padding-top: 4%;
    padding-bottom: 3%;
    color: rgb(139, 139, 139);
    font-size: 11px;
    font-weight: 400;
}


.next-prev-icon {
    font-size: 20px;


}

.prev-post-icon {
    position: absolute;
    top: 50%;
    left: 2rem;
    color: white;
    height: 4rem;
    width: 4rem;
}

.next-post-icon {
    position: absolute;
    top: 50%;
    right: 2rem;
    background-color: hotpink;

}

.edit-post-button {
    border-radius: 1px;
    width: 10rem;
    height: 3rem;
    color: white;
    background-color: rgb(51, 51, 51);
    border: 0.2px solid rgba(255, 0, 0, 0.342);
}

/* .bottom-right-comments:hover + .three-dot-close, .three-dot-close:hover {
    display: inline-block;
} */

.edit-my-comment-dropdown {
    right: 0.5rem;
    position: absolute;
    background-color: rgba(212, 212, 212, 0.342);
    width: 5rem;
    height: 5rem;
}

.edit-comment-buttons {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.edit-comment-buttons:hover {
    background-color: grey;
}

.three-dot-close {
    /* display: none; */
    font-size: 20px;
    color: rgb(153, 153, 153);
    padding-right: 1rem;
    padding-top: 0.5rem;
}
.three-dot-close-main {
    /* display: none; */
    font-size: 15px;
    color: rgb(153, 153, 153);
    padding-right: 1rem;
    /* padding-top: 0.5rem; */
}
.three-dot-open {
    font-size: 20px;
    color: rgb(33, 0, 95);
    padding-right: 1rem;
    padding-top: 0.5rem;
}
.three-dot-open-main {
    font-size: 15px;
    color: rgb(33, 0, 95);
    padding-right: 1rem;
    /* padding-top: 0.5rem; */
}

.count-likes-mypost {
    padding-left: 1rem;
    padding-top: 0.2rem;
    font-weight: 500;
    font-size: 16px;
    color: rgb(36, 36, 36);
}

.red-heart {
    color:rgb(172, 46, 46);
}

.my-heart {
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    color: rgb(36, 36, 36);
}
