.my-profile-container {
 display: flex;
 justify-content: left;
 width: 60%;
 /* background-color: red; */
 margin-left: 30%;
}

.profile-picture {
    box-sizing: border-box;
    border-radius: 50%;

    height: 100px;
    width: 100px;
    background-size: contain;
}

.my-profile-content {
    padding-left: 10%;
}
.top-my-profile-content {
    display: flex;
    justify-content: space-between;
}
.middle-my-profile-content {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-image-div {
}

.post-image {
    width: 20rem;
    height: 20rem;
    background-size: contain;
}


.my-posts-container {
    /* position: relavive; */
    width: 47%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 15%;
    margin-top: 5%;
    /* margin-right: 20%; */
    grid-row-gap: 50px;
    grid-column-gap: 4%;
}




/*   user profile stuff    */

.follow-button {
    color: white;
    background-color: blue;
    border: none;
    width: 5rem;
    height: 1.5rem;
    border-radius: 20px;

}

.unfollow-button {
    border: none;
    width: 5rem;
    height: 1.5rem;
    /* border-radius: 20px; */
}
