.search-container {
  /* background-color: red; */
  border-bottom: 0.2px solid rgb(221, 221, 221);
  width: 20rem;
  height: 3.7rem;
}


.search-results-div {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 0.25rem;
    background-color: white;
    border-radius: 10px;
    max-height: 25px;
  }

  .search-results{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0.75rem;
    overflow-y: scroll;
    height: 300px;
  }

  .search-results-div:hover {
    background-color: #d1d1d1;
  }

  .search-results-div img {
    object-fit: cover;
    width: 25px;
    border-radius: 50%;
    height: 25px !important;
    margin-right: 5px;
  }

  .results-found.search-container {
    height: 400px;

  }
  .search-results.results-found{
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }

  /* .search-bar {
    background-color: honeydew;
    width: 100%;
  } */

  .search-input {
    border-radius: 2px;
    border: 0.2px solid grey;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: rgb(238, 238, 238);
  }
