.nav-icon {
    color: black;
    font-size: 22px;
}

.add-post-first-card {
    /* background-color: hotpink; */
    /* border-radius: 2rem; */
    width: 30rem;
    height: 30rem
}


.modal-form {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    text-align: center;
}

/* .submit-modal-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    border: none;
    border-top: 0.2px solid rgb(212, 212, 212)
}

.submit-modal-button:hover {
    background-color: grey;
} */

#modal-input {
    /* text-align: center; */
    width: 93.35%;
    /* margin-top: 23.55rem; */
    border: none;
    border-top: 0.2px solid rgb(212, 212, 212);
    overflow: auto;
    outline: none;
    resize: none;
    font-size: 15px;
    font-family: 500;
    padding: 1rem;
}
.modal-textarea {
    text-align: center;
}




.upper-image-add-div {
    text-align: center;
    width: 100%;
    height: 2rem;
    border-bottom: 0.2px solid rgb(212, 212, 212)

}

.submit-post-modal-button {
    position: absolute;
    font-weight: 500;
    font-size: 15px;
    right: 0.4rem;
    top: 0.5rem;
    color: rgb(107, 186, 223);
    background-color: white;
    border: none;
}


.next-button {
    position: absolute;
    right: 0.4rem;
    top: 0.5rem;
    color: rgba(0, 0, 0, 0.15);
}

.next-button-blue {
    position: absolute;
    right: 0.4rem;
    top: 0.5rem;
    color: rgb(107, 186, 223)
}

.new-post-heading {
    padding-top: 0.5rem;
    font-weight: 500;
    font-size: 15.5px;
    color: rgba(0,0,0,0.8)
}

.arrow-left {
    position: absolute;
    left: 0.6rem;
    top: 0.5rem;
    color: rgba(0, 0, 0, 0.6);
}

.instagram-image-container {
    width: 50%;
    height: 80%;
}

.instagram-image-add {
    width: 30rem;
    height: 26rem;
    /* height: 80%; */
    /* border-radius: 2rem; */
}



.add-post-second-card {
    width: 50rem;
}


.image-plus-caption-body {
    display: flex;
}

.modal-addcaption-textarea {
     /* text-align: center; */
     /* width: 93.35%; */
     /* margin-top: 23.55rem; */
     border: none;
     border-bottom: 0.2px solid rgb(212, 212, 212);
     overflow: auto;
     outline: none;
     resize: none;
     font-size: 15px;
     font-family: 500;
     padding: 1rem;
     margin-right: 0;
}

.upload-image {
    width: 63%;
    height: 26rem;
    background-color: hotpink;
}

.avatar-image {
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.7rem;
}

.ye {
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}

.username {
    color: rgba(0, 0, 0, 0.75);
    font-family: 13.5px;
    font-weight: 500;
    padding-left: 0.7rem;
    padding-top: 0.2rem;
}

.errors-container {
    z-index: 3000;
    position: absolute;
    top: 0;
    background-color: red;
}


#button-image-upload {
    position: relative;
    top: 20rem;
    left: 10rem;
    color: white;
    border: none;
    background-color: rgba(27, 97, 248, 0.9);
    padding: 1rem;
    border-radius: 0.5rem;
}
#hidden-button-image-upload {
    position: relative;
    top: 20rem;
    left: 10rem;
    color: white;
    border: none;
    background-color: rgba(27, 97, 248, 0.9);
    padding: 1rem;
    border-radius: 0.5rem;
    display: none;
}

.upload__image-wrapper {
    /* background-color: brown; */
    width: 30rem;
    height: 28rem;
    border-bottom-left-radius: 1%;
}

.image-item {
    background-color: red;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 1%;

}
#upload-image-first-modal {
    width: 100%;
    height: 100%;

}
