@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Pacifico&display=swap');


.outer-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(240, 240, 240, 0.4);
}

.phone-picture-container {
    position: absolute;
    top: 3rem;
    left: 25vw;
    width: 18vw;
    height: 35vh;
}

.login-card {
    box-sizing: border-box;
    background-color: white;
    border: 0.2px solid rgba(146, 146, 146, 0.2);
    width: 20vw;
    height: 40vh;
    position: absolute;
    top: 10rem;
    right: 25vw;
    text-align: center;
    padding-bottom: 1rem;
}

.signup-in-login-card {
    box-sizing: border-box;
    position: absolute;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    height: 8vh;
    bottom: 25%;
    right: 25vw;
    width: 20vw;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid rgba(146, 146, 146, 0.2);
    font-size: 15px;
}

.signup {
    background-color: white;
    border: 0.2px solid rgba(146, 146, 146, 0.2);
    width: 20vw;
    height: 23rem;
    position: absolute;
    top: 10rem;
    right: 25vw;
    text-align: center;
    font-size: 15px;
    padding-top: 0.5rem;
}



.about {
    position: absolute;
    text-align: center;
    right: 23rem;
    width: 20rem;
    height: 1.3rem;
    bottom: 7.5rem;
    background-color: white;
    border: 0.2px solid rgba(146, 146, 146, 0.2);
}

.about-link-login {
    text-decoration: none;
    color: rgba(163, 47, 47, 0.9);
    /* font-family: 'Cookie'; */
    font-weight: 500;
}

.demo-logins-box {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

}

.login-form-button {
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    border-radius: 0.2rem;
    width: 90%;
    height: 2rem;
}

.demo-user-button {

    /* margin-top: 1rem; */
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    background-color: rgb(0, 63, 136);
    font-weight: 500;

}

.login-login-button {
    margin-top: 1rem;
    bottom: 1rem;
    border: none;

    font-size: 16px;


    background-color: rgb(0, 119, 255);

}

.login-form {
    width: 100%;
    margin-bottom: 1rem;
}

.lil-pad {
    margin-top: 0.5rem;
}

.login-input {
    box-sizing: border-box;
    width: 90%;
    height: 2rem;
    /* margin: 0.3rem; */
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    /* padding-left: 1rem; */

}


#instagram-font-logo {
    font-family: 'Cookie';
    font-size: 3rem;
    color: rgb(31, 31, 31);
    /* margin-left: 5rem; */
    padding: 0.3rem;
}

.label {
   /* font-family: 'Cookie'; */
   font-size: 13px;
}



.padding-div {
    padding-top: 1rem;
}

.signup-in-login-card {
    text-align: center;
}

.login-link {
    text-decoration: none;
    color: rgb(255, 255, 255)
}
.signup-link {
    text-decoration: none;
    color: rgb(0, 106, 228)
}


#signup-button {
    box-sizing: border-box;
    /* display: block;
    position: absolute; */
    /* margin-left: 1rem; */
    /* bottom: 6rem; */
    margin-top: 1rem;
    border: none;
    border-radius: 0.2rem;
    height: 2rem;
    font-size: 16px;
    width: 90%;
    color: white;
    background-color: rgb(0, 119, 255);
    cursor: pointer;
    /* border: 0.1px solid black */
}
#back-login-button {
    display: block;
    position: absolute;
    margin-left: 1rem;
    bottom: 1rem;
    border: none;
    border-radius: 0.2rem;
    height: 2rem;
    font-size: 16px;
    width: 90%;
    color: white;
    background-color: rgb(0, 119, 255);
    /* border: 0.1px solid black */
}



#mehh {
    /* position: absolute;
    bottom: 3.5rem;
    left: 5vw; */

    padding-top: 2rem;
}
