@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Pacifico&display=swap');


.outer-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(233, 233, 233, 0.4);
}

.phone-picture-container {
    position: absolute;
    top: 5rem;
    left: 20rem;
}

.login-card {
    background-color: white;
    border: 0.2px solid rgba(146, 146, 146, 0.2);
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 10rem;
    right: 23rem;
    text-align: center;
}

.signup-in-login-card {
    position: absolute;
    right: 23rem;
    bottom: 10rem;
    width: 20rem;
    height: 5rem;
    background-color: white;
    border: 0.2px solid rgba(146, 146, 146, 0.2);
}

.about {
    position: absolute;
    text-align: center;
    right: 23rem;
    width: 20rem;
    height: 1.3rem;
    bottom: 6.3rem;
    background-color: white;
    border: 0.2px solid rgba(146, 146, 146, 0.2);
}

.about-link-login {
    text-decoration: none;
    color: rgba(163, 47, 47, 0.9);
    /* font-family: 'Cookie'; */
    font-weight: 500;
}

.demo-logins-box {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
}

.demo-user-button {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 119, 255);
    border-radius: 0.2rem;
    width: 93%;
}

#instagram-font-logo {
    font-family: 'Cookie';
    font-size: 3rem;
    color: rgb(22, 22, 22);
    /* margin-left: 5rem; */
    padding: 0.3rem;
}

.login-input {
    width: 80%;
    height: 2rem;
    margin: 0.3rem;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding-left: 1rem;

}

#login-login-button {
    display: block;
    position: absolute;
    margin-left: 1rem;
    bottom: 1rem;
    border: none;
    border-radius: 0.2rem;
    height: 2rem;
    font-size: 16px;
    width: 90%;
    color: white;
    background-color: rgb(0, 119, 255);
    /* border: 0.1px solid black */
}
