#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(44, 44, 44, 0.83);
  }

  #modal-content {
    position: absolute;
    background-color:white;
    border-radius: 1rem;
  }

  .exit-modal {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    color: white;
    font-size: 30px;
  }

  .exit-post-icon {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}
