.follow-button {
    background-color: blue;
}

.top-user-profile-content {
    /* background-color: red; */
    width: 17rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.follow-button {
    color: white;
    background-color: rgba(52, 52, 255, 0.6);
    border: none;
    width: 5rem;
    height: 1.5rem;
    border-radius: 20px;

}

.unfollow-button {
    border: 0.2px solid rgba(182, 182, 182, 0.4);
    width: 5rem;
    height: 2rem;
    margin-left: 0.4rem;
    background-color: rgba(207, 207, 207, 0.1);
    border-radius: 0.1rem;
    margin-left: 1rem;
}

.followme {
    background-color: rgba(52, 106, 255, 0.6);
    color: white;
    margin-left: 1rem;

}
.user-profile-username {
    font-size: 1.55rem;
    font-weight: 400;
}

.message-user-profile-button {
    border: 0.2px solid rgba(182, 182, 182, 0.4);
    border-radius: 0.1rem;
    font-weight: 500;
    padding: 0.3rem;
    margin-left: 0.3rem;
    width: 5rem;
    height: 2rem;
    background-color: rgba(207, 207, 207, 0.1);
}

#line {
    /* background-color: pink; */
    border-bottom: 0.2px solid rgba(189, 189, 189, 0.5);
    margin-top: 2rem;
    margin-left: 15%;
    width: 71.8%;
    height: 0.5rem;
}
